.search-bar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.btn {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon {
    width: 5vw; height: 5vw;
    vertical-align: -0.15em;
    fill: red;
    overflow: hidden;
    font-size: 1vw;
}

.icon-30px {
    width: 30px; height: 30px;
    vertical-align: -0.15em;
    fill: red;
    overflow: hidden;
    font-size: 1vw;
}

.container {
    top: 44px;
    overflow:auto;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#addList {
    z-index: 199;
}

.authority-option {
    margin: 6.5px 0;
}

td {
    padding: 0 10px;
}

#editPop {
    z-index: 199;
}